* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
@font-face {
    font-family: "balsamiqsans";
    src: url("../assets/fonts/BalsamiqSans-Regular.ttf");
}
@font-face {
    font-family: "balsamiqsansbold";
    src: url("../assets/fonts/BalsamiqSans-Bold.ttf");
}
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(85, 255, 255, 0.376);
    height: 10vh;
    font-family: "balsamiqsansbold";
}
header a {
    text-decoration: none;
    color: black;
}
.menumobile {
    display: none;
}
.menutoggle {
    display: none;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: "balsamiqsans";
}
.desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 15%;
    width: 70%;
    margin-top: 10px;
    text-align: center;
}
#rofl {
    position: relative;
    width: 19%;
    left: 40%;
    color: white;
    text-decoration: none;
    padding: .5em;
    border-radius: 5px;
    background: rgb(77, 163, 220);
    margin-top: 10px;
    text-align: center;
}
@media screen and (min-width: 320px) and (max-width: 766px) {
    header {
        flex-direction: column;
    }
    .menu-pc {
        display: none;
    }
    .menutoggle {
        display: inline;
        position: absolute;
        top: 1vh;
        right: 9vw;
        background-color: rgba(85, 255, 255, 0);
        border: 0cm;
        font-size: 250%;
    }
    .menumobile.show {
        display: flex;
        position: absolute;
        width: 100vw;
        top: 10vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        animation: show .5s ease-in-out;
        background-color: rgba(85, 255, 255, 0.376);
        z-index: 1;
    }
    @keyframes show {
        from {
            opacity: 0;
        }
        to {
            opacity: 100;
        }
    }
    .menumobile.show a {
        padding: 5px;
    }
    #rofl {
        left: 25%;
        width: 47%;
    }
}